pkgbase = ruby-libvirt
	pkgdesc = Ruby bindings for libvirt.
	pkgver = 0.8.0
	pkgrel = 1
	url = http://libvirt.org/ruby/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = rubygems
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	depends = ruby
	depends = libvirt
	source = ruby-libvirt::git+https://gitlab.com/libvirt/libvirt-ruby.git#tag=ruby-libvirt-0.8.0
	sha256sums = SKIP

pkgname = ruby-libvirt
